In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_absolute_error as mae
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [4]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [5]:
def getAccuracy(x_train,x_test,y_train,y_test):
    model = RandomForestClassifier(random_state=1)
    model.fit(x_train,y_train)
    pred = model.predict(x_test)
    return accuracy_score(y_test,pred)

In [6]:
df_with_dropped_vals = df.dropna()
df_with_dropped_vals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6606 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   6606 non-null   object
 1   HomePlanet    6606 non-null   object
 2   CryoSleep     6606 non-null   object
 3   Cabin         6606 non-null   object
 4   Destination   6606 non-null   object
 5   Age           6606 non-null   float64
 6   VIP           6606 non-null   object
 7   RoomService   6606 non-null   float64
 8   FoodCourt     6606 non-null   float64
 9   ShoppingMall  6606 non-null   float64
 10  Spa           6606 non-null   float64
 11  VRDeck        6606 non-null   float64
 12  Name          6606 non-null   object
 13  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 729.0+ KB

In [7]:
def splitclm(collum):
    try:
        info=collum.split('/')
        return pd.Series([info[0],int(info[1]),info[2]],index=('Deck','cabin_no','side'))
    except Exception as e:
        return None
df_with_dropped_vals[['Deck','cabin_no','side']]=df_with_dropped_vals['Cabin'].apply(splitclm)

C:\Users\HP\AppData\Local\Temp\ipykernel_1812\98915651.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_dropped_vals[['Deck','cabin_no','side']]=df_with_dropped_vals['Cabin'].apply(splitclm)
C:\Users\HP\AppData\Local\Temp\ipykernel_1812\98915651.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_dropped_vals[['Deck','cabin_no','side']]=df_with_dropped_vals['Cabin'].apply(splitclm)
C:\Users\HP\AppData\Local\Temp\ipykernel_1812\98915651.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_dropped_vals[['Deck','cabin_no','side']]=df_with_dropped_vals['Cabin'].apply(splitclm)

In [8]:
def IDConerter(column):
    id = int(column.replace('_',''))
    return id

In [9]:
df_with_dropped_vals.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Deck,cabin_no,side
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S

In [10]:
df_with_dropped_vals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6606 entries, 0 to 8692
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   6606 non-null   object
 1   HomePlanet    6606 non-null   object
 2   CryoSleep     6606 non-null   object
 3   Cabin         6606 non-null   object
 4   Destination   6606 non-null   object
 5   Age           6606 non-null   float64
 6   VIP           6606 non-null   object
 7   RoomService   6606 non-null   float64
 8   FoodCourt     6606 non-null   float64
 9   ShoppingMall  6606 non-null   float64
 10  Spa           6606 non-null   float64
 11  VRDeck        6606 non-null   float64
 12  Name          6606 non-null   object
 13  Transported   6606 non-null   bool
 14  Deck          6606 non-null   object
 15  cabin_no      6606 non-null   int64
 16  side          6606 non-null   object
dtypes: bool(1), float64(6), int64(1), object(9)
memory usage: 883.8+ KB

In [11]:
def BollLabelConverter(column):
    if column=='True':
        return True
    else: return False

In [12]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
# df_with_dropped_vals['VIP']=le.fit_transform(df_with_dropped_vals['VIP'])
df_with_dropped_vals['CryoSleep']=le.fit_transform(df_with_dropped_vals['CryoSleep'])

C:\Users\HP\AppData\Local\Temp\ipykernel_1812\2443113319.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_dropped_vals['CryoSleep']=le.fit_transform(df_with_dropped_vals['CryoSleep'])

In [13]:
df_with_dropped_vals['PassengerId'] = df_with_dropped_vals['PassengerId'].apply(IDConerter)

C:\Users\HP\AppData\Local\Temp\ipykernel_1812\3823415578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_dropped_vals['PassengerId'] = df_with_dropped_vals['PassengerId'].apply(IDConerter)

In [14]:
X = df_with_dropped_vals[['PassengerId','CryoSleep','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]
y = df_with_dropped_vals['Transported']
print(X.head(),y.head())

   PassengerId  CryoSleep   Age    VIP  RoomService  FoodCourt  ShoppingMall  \
0          101          0  39.0  False          0.0        0.0           0.0
1          201          0  24.0  False        109.0        9.0          25.0
2          301          0  58.0   True         43.0     3576.0           0.0
3          302          0  33.0  False          0.0     1283.0         371.0
4          401          0  16.0  False        303.0       70.0         151.0

      Spa  VRDeck
0     0.0     0.0
1   549.0    44.0
2  6715.0    49.0
3  3329.0   193.0
4   565.0     2.0   0    False
1     True
2    False
3    False
4     True
Name: Transported, dtype: bool

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [16]:
getAccuracy(X_train, X_test, y_train, y_test)

0.7628657921291625

In [17]:
df_fill_vals= df.copy()
df_fill_vals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [18]:
df_fill_vals = df_fill_vals[['PassengerId','CryoSleep','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Transported']]
df_fill_vals.PassengerId.apply(IDConerter)
df_fill_vals['VIP']=le.fit_transform(df_fill_vals['VIP'])
df_fill_vals['CryoSleep']=le.fit_transform(df_fill_vals['CryoSleep'])
# df_fill_vals['Age']=df_fill_vals['Age'].astype(int)

In [19]:
df_fill_vals.describe()

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8693.000000,8514.000000,8693.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,0.399287,28.827930,0.069596,224.687617,458.077203,173.729169,311.138778,304.854791
std,0.538345,14.489021,0.333871,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,38.000000,0.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,2.000000,79.000000,2.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [20]:
df_fill_vals.Age.fillna(df_fill_vals.Age.mean(),inplace=True)
df_fill_vals.VIP.fillna(method='ffill',inplace= True)
df_fill_vals.RoomService.fillna(df_fill_vals.RoomService.mean(),inplace = True)
df_fill_vals.FoodCourt.fillna(df_fill_vals.FoodCourt.mean(),inplace= True)
df_fill_vals.ShoppingMall.fillna(df_fill_vals.ShoppingMall.mean(),inplace= True)
df_fill_vals.Spa.fillna(df_fill_vals.Spa.mean(),inplace= True)
df_fill_vals.VRDeck.fillna(df_fill_vals.VRDeck.mean(),inplace= True)

In [21]:
df_fill_vals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   CryoSleep     8693 non-null   int32
 2   Age           8693 non-null   float64
 3   VIP           8693 non-null   int32
 4   RoomService   8693 non-null   float64
 5   FoodCourt     8693 non-null   float64
 6   ShoppingMall  8693 non-null   float64
 7   Spa           8693 non-null   float64
 8   VRDeck        8693 non-null   float64
 9   Transported   8693 non-null   bool
dtypes: bool(1), float64(6), int32(2), object(1)
memory usage: 551.9+ KB

In [22]:
X = df_fill_vals.drop('Transported',axis=1)
y = df_fill_vals.Transported
fill_X_train, fill_X_test, fill_y_train, fill_y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [23]:
getAccuracy(fill_X_train, fill_X_test, fill_y_train, fill_y_test)

0.7664877300613497

In [24]:
test_df = pd.read_csv('test.csv')

In [25]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4190 non-null   object
 2   CryoSleep     4184 non-null   object
 3   Cabin         4177 non-null   object
 4   Destination   4185 non-null   object
 5   Age           4186 non-null   float64
 6   VIP           4184 non-null   object
 7   RoomService   4195 non-null   float64
 8   FoodCourt     4171 non-null   float64
 9   ShoppingMall  4179 non-null   float64
 10  Spa           4176 non-null   float64
 11  VRDeck        4197 non-null   float64
 12  Name          4183 non-null   object
dtypes: float64(6), object(7)
memory usage: 434.5+ KB

In [26]:
test_df = test_df[['PassengerId','CryoSleep','Age','VIP','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']]

In [27]:
test_df['VIP']=le.transform(test_df['VIP'])
test_df['CryoSleep']=le.transform(test_df['CryoSleep'])
test_df.Age.fillna(test_df.Age.mean(),inplace=True)
test_df.VIP.fillna(method='ffill',inplace= True)
test_df.RoomService.fillna(test_df.RoomService.mean(),inplace = True)
test_df.FoodCourt.fillna(test_df.FoodCourt.mean(),inplace= True)
test_df.ShoppingMall.fillna(test_df.ShoppingMall.mean(),inplace= True)
test_df.Spa.fillna(test_df.Spa.mean(),inplace= True)
test_df.VRDeck.fillna(test_df.VRDeck.mean(),inplace= True)

In [28]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   CryoSleep     4277 non-null   int32
 2   Age           4277 non-null   float64
 3   VIP           4277 non-null   int32
 4   RoomService   4277 non-null   float64
 5   FoodCourt     4277 non-null   float64
 6   ShoppingMall  4277 non-null   float64
 7   Spa           4277 non-null   float64
 8   VRDeck        4277 non-null   float64
dtypes: float64(6), int32(2), object(1)
memory usage: 267.4+ KB

In [29]:
test_df.PassengerId.apply(IDConerter)

0         1301
1         1801
2         1901
3         2101
4         2301
         ...
4272    926602
4273    926901
4274    927101
4275    927301
4276    927701
Name: PassengerId, Length: 4277, dtype: int64

In [30]:
test_df.head()

,PassengerId,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,1,27.0,0,0.0,0.0,0.0,0.0,0.0
1,0018_01,0,19.0,0,0.0,9.0,0.0,2823.0,0.0
2,0019_01,1,31.0,0,0.0,0.0,0.0,0.0,0.0
3,0021_01,0,38.0,0,0.0,6652.0,0.0,181.0,585.0
4,0023_01,0,20.0,0,10.0,0.0,635.0,0.0,0.0

In [31]:
X_train_data=df_fill_vals.drop('Transported',axis=1)
y_train_data =df_fill_vals['Transported']

In [32]:
X_train_data.head()
y_train_data

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

In [33]:
model = RandomForestClassifier(random_state=1)
model.fit(X_train_data,y_train_data)

RandomForestClassifier(random_state=1)

In [34]:
preds=model.predict(test_df)

In [35]:
# output=pd.DataFrame({'PassengerId':test_df.PassengerId,'Transported':preds})
# output.to_csv('Sumbmission.csv',index=False)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [37]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer
from xgboost import XGBClassifier

In [38]:
def splitcolumn(collum):
    try:
        # Check if collum is a valid string
        if isinstance(collum, str):
            info = collum.split('/')
            # Ensure info has exactly 3 parts
            if len(info) == 3:
                return pd.Series([info[0], int(info[1]), info[2]], index=('Deck', 'cabin_no', 'side'))
        return pd.Series([None, None, None], index=('Deck', 'cabin_no', 'side'))
    except Exception as e:
        # Handle parsing issues gracefully
        return pd.Series([None, None, None], index=('Deck', 'cabin_no', 'side'))

step 1 : Transform numerical cols ui=sing simple imputer 
step 2 : Transform categorical columns using one-hot-encoding
step 3 : fit model

In [39]:
categorical_cols = [col for col in df.columns if df[col].dtype == 'object']
numerical_cols =[col for col in df.columns if df[col].dtype in ['int64','float64']]
del categorical_cols[0]
categorical_cols.extend(['Deck','cabin_no','side'])
df[['Deck','cabin_no','side']]=df['Cabin'].apply(splitcolumn)

In [40]:
numerical_processor = SimpleImputer(strategy='mean')
categorical_processor = Pipeline(steps = [
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('Onehot',OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(transformers = [
    ('num',numerical_processor,numerical_cols),
    ('cat',categorical_processor,categorical_cols)
])
pipeline = Pipeline(steps = [
    ('processing',preprocessor),
    ('model',RandomForestClassifier(n_estimators=100))
])
X = df.drop('Transported',axis=1)
y = df.Transported.copy()
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=0)
pipeline.fit(X_train,y_train)
preds = pipeline.predict(X_test)
print('accuracy = ',accuracy_score(y_test,preds))

accuracy =  0.7786083956296722

In [41]:
test = pd.read_csv('test.csv')
test[['Deck','cabin_no','side']]=test['Cabin'].apply(splitcolumn)
pred_test= pipeline.predict(test)
output = pd.DataFrame({'PassengerId':test.PassengerId,'Transported':pred_test})
output.to_csv('Pipeline_preds.csv',index = False)

In [42]:
X_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Deck,cabin_no,side
3601,3868_05,Earth,False,F/731/S,55 Cancri e,16.0,False,0.0,0.0,623.0,40.0,209.0,Darry Braymon,F,731.0,S
6057,6405_02,Earth,NaN,NaN,NaN,2.0,False,0.0,0.0,0.0,0.0,0.0,Feline Toddleton,None,NaN,None
2797,3021_01,Earth,False,G/476/S,TRAPPIST-1e,31.0,False,517.0,1.0,301.0,60.0,4.0,Deanny Spencervan,G,476.0,S
7110,7578_01,Earth,False,F/1572/P,55 Cancri e,14.0,False,653.0,0.0,4.0,0.0,0.0,Idace Popelacruz,F,1572.0,P
8579,9158_01,Europa,True,B/298/P,55 Cancri e,30.0,True,0.0,0.0,0.0,0.0,0.0,Magnon Maglible,B,298.0,P

In [49]:

XG_pipeline = Pipeline(steps = [
    ('processing',preprocessor),
    ('model',XGBClassifier(n_estimators = 33))
])

In [51]:

X_test_transformed = XG_pipeline['processing'].transform(X_test)
XG_pipeline.set_params(model__early_stopping_rounds=10)
XG_pipeline.fit(X_train,y_train,model__eval_set=[(X_test_transformed,y_test)])

TypeError: XGBClassifier.fit() got an unexpected keyword argument 'early_stopping_rounds'

In [45]:
preds = XG_pipeline.predict(X_test)
print('accuracy = ',accuracy_score(y_test,preds))

[0]	validation_0-logloss:0.59027
[1]	validation_0-logloss:0.53231
[2]	validation_0-logloss:0.49534
[3]	validation_0-logloss:0.47157
[4]	validation_0-logloss:0.45563
[5]	validation_0-logloss:0.44481
[6]	validation_0-logloss:0.43643
[7]	validation_0-logloss:0.42971
[8]	validation_0-logloss:0.42628
[9]	validation_0-logloss:0.42299
[10]	validation_0-logloss:0.42099
[11]	validation_0-logloss:0.41873
[12]	validation_0-logloss:0.41632
[13]	validation_0-logloss:0.41604
[14]	validation_0-logloss:0.41505
[15]	validation_0-logloss:0.41417
[16]	validation_0-logloss:0.41337
[17]	validation_0-logloss:0.41301
[18]	validation_0-logloss:0.41271
[19]	validation_0-logloss:0.41287
[20]	validation_0-logloss:0.41295
[21]	validation_0-logloss:0.41221
[22]	validation_0-logloss:0.41229
[23]	validation_0-logloss:0.41191
[24]	validation_0-logloss:0.41285
[25]	validation_0-logloss:0.41310
[26]	validation_0-logloss:0.41300
[27]	validation_0-logloss:0.41238
[28]	validation_0-logloss:0.41197
[29]	validation_0-logloss:0.41244
[30]	validation_0-logloss:0.41207
[31]	validation_0-logloss:0.41229
[32]	validation_0-logloss:0.41310
accuracy =  0.8079355951696378

In [46]:
xg_preds = XG_pipeline.predict(test)
output = pd.DataFrame({'PassengerId':test.PassengerId,'Transported':xg_preds})
output.to_csv('XG_Pipeline_preds.csv',index = False)